@font-face {
  font-family: "digi";
  src: url("../fonts/DS-DIGIT.TTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: #6a1b9a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  height: 80vh;
  background-color: #0288d1;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 15px #1673dd;
  display: flex;
}
.container_left {
  width: 50%;
  height: 100%;
  background-color: #bdbdbd;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.container_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  border: none;
  outline: none;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  background: inherit;
  height: 5rem;
  color: #fff;
  margin-bottom: 5rem;
}
.input::placeholder {
  color: #fff;
}
#task-title {
  width: 70%;
  margin-left: 15%;
}
.task-num {
  width: 30%;
  margin-left: 15%;
}

.set_btn {
  margin-left: 15%;
}

.btn {
  width: 20rem;
  height: 5vh;
  border: 2px solid #fff;
  border-radius: 2rem;
  background: initial;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease-in;
}

.btn:hover {
  border: none;
  background-color: #fff;
  color: #1673dd;
}
.form-title {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 5rem;
}
.container_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer {
  font-size: 18rem;
  color: #0288d1;
  font-family: "digi";
}
.task-paragraph {
  font-size: 3rem;
  color: #0288d1;
}
.rest {
  border: 2px solid #0288d1;
  color: #0288d1;
}

@media screen and (max-width: 1175px) {
  .timer {
    font-size: 15rem;
  }
  .form-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 945px) {
  .timer {
    font-size: 12rem;
  }
}
@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .container_left {
    width: 100%;
    border-radius: 0;
  }
  .container_right {
    width: 100%;
    border-radius: 0;
  }
}
